body{
 background-image: url(../img/greenbg.jpg);
}

h1{
  text-align: center;
  text-shadow: 2px, 2px, grey;
  font-family: fantasy;
}

h2{
  text-align: center;
  font-family: cursive;
}

ul{
  font-style: oblique;
}

div{

}

h3{
  text-align: center;
}

li{
}
p{
}
.container{

}
.carousel-inner > .item > img,
.carousel-inner > .itme > a > img{
  display: block;
  max-width: 100%;
  height: 500px;
}

#bannercontainer{
  position: center-block;
  border-color: 10px gray;
  border-style: ridge;
  width: 75%;
  padding: 5px;
  margin-left: auto;
  margin-bottom: 5%;
  margin-top: 5%;
}

#navbarcontainer{
  width: 150px;
  margin: 5%;
  margin-top: 2.5%;
  border-style: ridge;
  float: left;
  text-align: center;
}

#linkscontainer{
  width: 150px;
  margin: 5%;
  float: right;
  border-style: groove;
  text-align: left;
}

#myCarousel{
  position: sticky;
  margin: auto;
  width: 50%;
  height:50%;
}

#footer{
  position: sticky;
  bottom: 0;
}
