h1{
  text-align: center;
  text-shadow: 2px, 2px, green;
}

ul{
  font-style: oblique;
}

div{

}

h3{
  text-align: center;
}

.container{
  border-style: dotted;
  border-color: green;
}

#bannercontainer{
  border-color: 10px green;
  border-style: double;
  padding: 5px;
  margin: 5%;
}

#navbarcontainer{
  width: 150px;
  margin: 5%;
  border-style: ridge;
  float: left;
  text-align: center;
}

#linkscontainer{
  width: 150px;
  margin: 5%;
  float: right;
  border-style: groove;
  text-align: left;
}

#carouselcontainer{

}

#footer{
  position: absolute;
  bottom: 0;
}
